<!-- link rel="stylesheet" href="[:app]/css/checkbox.css" -->
<!-- link rel="stylesheet" href="[:vendor]/datatables/css/dataTables.bootstrap.css" -->
<!-- script src="[:vendor]/datatables/js/jquery.dataTables.min.js"></script -->

<div id="page-content">
    <div class="clear">
        <div class="col-md-2 col-lg-2 hidden-xs hidden-sm border-r full-height" id="category">
            <ul v-if="category != null">
                <li><div class="tree-node" v-bind:class="{selected: true}" v-on:click="selectAll" :cid="0"><i class="fa fa-fw fa-folder-open"></i>仓库</div></li>
                <li>
                    <ul v-if="category != null">
                        <category-tree v-bind:node="c" v-for="c in category.children" :key="c.id"></category-tree>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-10 col-lg-10 col-xs-12 col-sm-12 full-height clear">
            <div class="heightstricted">
                <table width="100%" class="table table-striped table-bordered table-hover" id="main-table" v-if="depots!= null">
                    <thead>
                        <tr>
                            <th>名称</th>
                            <th>类别</th>
                            <th class="hidden-xs">管理员</th>
                            <th class="hidden-xs">地址</th>
                            <th class="hidden-xs">备注</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(depot, dk) in depots" v-on:click="edit" v-bind:dk="dk">
                        <td>{{depot.name}}</td>
                        <td>{{depot.category.name}}</td>
                        <td class="hidden-xs">{{depot.manager.nickname}}</td>
                        <td class="hidden-xs">{{depot.address}}</td>
                        <td class="hidden-xs">{{depot.comments}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div><button class="btn btn-primary col-md-12 col-xs-12 col-sm-12 m-t-15" v-on:click="addNew">新增</button></div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="theModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="theModalLabel">{{modal.title}}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group" v-bind:class="{ 'has-error': modal.name == '' }">
                        <label for="theName">名称</label>
                        <input type="text" class="form-control" id="theName" placeholder="名称" v-model.trim="modal.name">
                    </div>

                    <div class="form-group">
                        <label for="theCategory">分类</label>
                        <select id="theCategory" class="form-control" v-model="modal.category">
                            <option v-for="cate in categories" v-bind:value="cate.id">{{cate.name}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="theAddress">地址</label>
                        <input type="text" class="form-control" id="theAddress" placeholder="地址" v-model.trim="modal.address">
                    </div>

                    <div class="form-group">
                        <label for="theManager">管理员</label>
                        <select id="theManager" class="form-control" v-model="modal.manager">
                            <option v-for="user in users" v-bind:value="user.id">{{user.nickname}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="theComments">备注</label>
                        <input type="text" class="form-control" id="theComments" placeholder="备注" v-model.trim="modal.comments">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" v-on:click="ensure">确认</button>
                    <button type="button" class="btn btn-danger pull-left" v-on:click="remove" v-if="modifyid != 0">删除</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="theDeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">确认删除</h4>
                </div>
                <div class="modal-body">
                    <div>确认要删除这个项目？</div>
                    <div><b>{{modal.origname}}</b></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-danger" v-on:click="doRemove">确认删除</button>
                </div>
            </div>
        </div>
    </div>
</div>

