
<div id="page-content">
    <div class="clear">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    客户列表
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="搜索..." id="search-customer" v-on:input="searchCustomer" v-model.trim="search.customer">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" v-on:click="searchCustomer"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <table class="table !table-striped table-bordered table-hover" v-if="customers != null">
                            <thead>
                                <tr class="active"><th>客户名</th><th>单据名</th><th>分类</th></tr>
                            </thead>
                            <tbody>
                                <tr class="pointer" v-for="(customer,ck) in customers" v-bind:ck="ck" v-on:click="selectCustomer" v-bind:class="{ success: customer.selected }" v-show="!customer.filteredout">
                                    <td>{{customer.name}}</td>
                                    <td>{{customer.title}}</td>
                                    <td>{{customer.category.name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    客户价格：<span v-if="selectedcustomer != null"><strong>{{selectedcustomer.name}}</strong></span>
                </div>
                <div class="panel-body">
                    <div v-if="selectedcustomer != null">
                        <table width="100%" class="table table-striped table-bordered table-hover" id="main-table">
                            <thead>
                                <tr class="active">
                                    <th>产品名称</th>
                                    <th>默认价格</th>
                                    <th>客户价格</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(price, pk) in prices" class="pointer" v-on:click="edit" v-bind:pk="pk">
                                    <td>{{price.product.title}}</td>
                                    <td>{{price.product.price}}</td>
                                    <td>{{price.price}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div><button class="btn btn-primary col-md-12 col-xs-12 col-sm-12 m-t-15" v-on:click="addNew">新增</button></div>
                    </div>
                    <div v-if="selectedcustomer == null" class="text-center">
                        <h3>请选择一个客户</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="theModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="theModalLabel">增加产品价格</h4>
                </div>
                <div class="modal-body">
                    <div class="">
                        <div class="panel panel-default">
                            <div class="panel-heading">产品列表</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="input-group custom-search-form">
                                        <input type="text" class="form-control" placeholder="搜索..." id="search-product" v-on:input="searchProduct" v-model="search.product">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" v-on:click="searchProduct"><i class="fa fa-search"></i></button>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group heightstricted">
                                    <table class="table !table-striped table-bordered table-hover" v-if="products != null">
                                        <thead>
                                            <tr>
                                                <th>名称</th>
                                                <th>分类</th>
                                                <th>标准</th>
                                                <th>规格</th>
                                                <th class="hidden-xs">价格</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="pointer" v-for="(product, pk) in products" v-bind:pk="pk" v-on:click="selectProduct" v-bind:class="{ success: product.selected }" v-if="product.show" v-show="!product.filteredout">
                                                <td>{{product.title}}</td>
                                                <td>{{product.category.name}}</td>
                                                <td>{{product.standard}}</td>
                                                <td>{{product.mode}}</td>
                                                <td class="hidden-xs">{{product.price}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" v-on:click="ensureSelectProduct">确认</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="priceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="priceModalLabel">客户价格</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group" v-bind:class="{ 'has-error': modal.price == '' }">
                        <label for="thePrice">{{modal.title}}的价格</label>
                        <input type="text" class="form-control" id="thePrice" placeholder="价格" v-model.trim="modal.price">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" v-on:click="ensure">确认</button>
                    <button type="button" class="btn btn-danger pull-left" v-on:click="remove" v-if="modifyid != 0">删除</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="theDeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">确认删除</h4>
                </div>
                <div class="modal-body">
                    <div>确认要删除这个项目？</div>
                    <div><b>{{modal.origname}}</b></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-danger" v-on:click="doRemove">确认删除</button>
                </div>
            </div>
        </div>
    </div>
</div>

