<link rel="stylesheet" href="[:app]/css/checkbox.css">

<div id="page-content">
    <div class="clear">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    微信管理员：
                </div>
                <div class="panel-body">
                    <div>
                        <table width="100%" class="table table-striped table-bordered table-hover" id="main-table">
                            <thead>
                                <tr class="active">
                                    <th>头像</th>
                                    <th>昵称</th>
                                    <th class="hidden-xs">性别</th>
                                    <th class="hidden-xs">地区</th>
                                    <th class="hidden-xs">备注</th>
                                    <th>通知</th>
                                    <th>删除</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(admin, vk) in wechatadmins" class="pointer">
                                    <td><div class="userinfo-avatar"><img v-bind:src="admin.wechatuser.headimgurl" /></div></td>
                                    <td>{{admin.wechatuser.nickname}}</td>
                                    <td class="hidden-xs"><span v-if="admin.wechatuser.gender == 1">男</span><span v-else>女</span></td>
                                    <td class="hidden-xs">{{admin.wechatuser.country}}{{admin.wechatuser.province}}{{admin.wechatuser.city}}</td>
                                    <td class="hidden-xs">{{admin.wechatuser.comments}}</td>
                                    <td>
                                        <div class="checkbox-slider--b-flat checkbox-slider-md" v-bind:vk="vk" v-on:change="edit"><label><input type="checkbox" v-model="admin.notify" /><span></span></label></div>
                                    </td>
                                    <td><button type="button" class="btn btn-danger" v-on:click="remove" v-bind:vk="vk"><span aria-hidden="true">&times;</span></button></td>
                                </tr>
                            </tbody>
                        </table>
                        <div><button class="btn btn-primary col-md-12 col-xs-12 col-sm-12 m-t-15" v-on:click="addNew">新增</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="theModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="theModalLabel">客户绑定微信</h4>
                </div>
                <div class="modal-body">
                    <div class="">
                        <div class="panel panel-default">
                            <div class="panel-heading">微信关注者列表</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="input-group custom-search-form">
                                        <input type="text" class="form-control" placeholder="搜索..." id="search-product" v-on:input="searchWechatuser" v-model="search.wechatuser">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" v-on:click="searchWechatuser"><i class="fa fa-search"></i></button>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group heightstricted">
                                    <table class="table !table-striped table-bordered table-hover" v-if="wechatusers != null">
                                        <thead>
                                            <tr>
                                                <th>头像</th>
                                                <th>名称</th>
                                                <th class="hidden-xs">性别</th>
                                                <th class="hidden-xs">区域</th>
                                                <th class="hidden-xs">备注</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="pointer" v-for="(wechatuser, wk) in wechatusers" v-bind:wk="wk" v-on:click="selectWechatuser" v-bind:class="{ success: wechatuser.selected }" v-if="wechatuser.show" v-show="!wechatuser.filteredout">
                                                <td><div class="userinfo-avatar"><img v-bind:src="wechatuser.headimgurl" /></div></td>
                                                <td>{{wechatuser.nickname}}</td>
                                                <td class="hidden-xs"><span v-if="wechatuser.gender == 1">男</span><span v-else>女</span></td>
                                                <td class="hidden-xs">{{wechatuser.country}}{{wechatuser.province}}{{wechatuser.city}}</td>
                                                <td class="hidden-xs">{{wechatuser.comments}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" v-on:click="ensureSelectWechatuser">确认</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="theDeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">确认删除</h4>
                </div>
                <div class="modal-body">
                    <div>确认要删除？</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-danger" v-on:click="doRemove">确认删除</button>
                </div>
            </div>
        </div>
    </div>
</div>

