<link rel="stylesheet" href="[:app]/css/checkbox.css">
<div id="page-content">
    <div class="clear">
        <table width="100%" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>帐号</th>
                    <th>密码</th>
                    <th>姓名</th>
                    <th>电话</th>
                    <th>邮箱</th>
                    <th>备注</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(user, uk) in users" v-cloak v-on:click="editUser" v-bind:uk="uk">
                    <td>{{user.username}}</td>
                    <td>{{user.password}}</td>
                    <td>{{user.nickname}}</td>
                    <td>{{user.telephone}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.comments}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <button class="btn btn-primary col-md-12 col-xs-12 col-sm-12 m-t-15" id="newUser">新增</button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="newUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="newUserModalLabel">{{modal.label}}</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group" id="newUsernameForm" v-bind:class="{ 'has-error': modal.username.trim() == '' }">
                        <label for="newUserUsername">登陆帐号</label>
                        <input type="text" class="form-control" id="newUserUsername" placeholder="登陆帐号" v-model="modal.username">
                    </div>
                    <div class="form-group" id="newPasswordForm" v-bind:class="{ 'has-error': modal.password.trim() == '' }">
                        <label for="newUserPassword">密码</label>
                        <input type="text" class="form-control" id="newUserPassword" placeholder="密码" v-model="modal.password">
                    </div>

                    <div class="form-group" id="newNicknameForm">
                        <label for="newUserNickname">姓名</label>
                        <input type="text" class="form-control" id="newUserNickname" placeholder="姓名" v-model="modal.nickname">
                    </div>

                    <div class="form-group" id="newTelephoneForm">
                        <label for="newUserTelephone">电话</label>
                        <input type="text" class="form-control" id="newUserTelephone" placeholder="电话" v-model="modal.telephone">
                    </div>

                    <div class="form-group" id="newEmailForm">
                        <label for="newUserEmail">邮箱</label>
                        <input type="email" class="form-control" id="newUserEmail" placeholder="邮箱" v-model="modal.email">
                    </div>
                    <div class="form-group" id="newCommentsForm">
                        <label for="newUserComments">备注</label>
                        <input type="text" class="form-control" id="newUserComments" placeholder="备注" v-model="modal.comments">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="addNewUser">确认</button>
                <button type="button" class="btn btn-danger pull-left" v-on:click="removeUser" v-if="edituid != 0">删除</button>
            </div>
        </div>
    </div>
</div>


