
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
}

li ul {
    margin-left: 20px;
}

.selected {
    color: red;
}

.tree-node {
    cursor: pointer;
}

.category-node {
    padding: 5px;
}

.category-node-content {
    border: solid 1px #ccc;
    border-radius: 5px;
    height: 100%;
    cursor: pointer;
}

.category-node .title {
    text-align: center;
    font-weight: bolder;
    font-size: 1.2em;
}

.new-category {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 2px solid #f47920;
    border-radius: 8px;
    cursor: pointer;
}

.plus-wrapper {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    /* border: 2px solid #f47920; */
    margin: 10%;
}

.plus {
    width: 40%;
    height: 40%;
    float: left;
}

.plus-tl {
    margin-left: 10%;
    margin-top: 10%;
    border-right: 2px solid #f47920;
    border-bottom: 2px solid #f47920;
}

.plus-rl {
    margin-right: 10%;
    margin-top: 10%;
    border-left: 2px solid #f47920;
    border-bottom: 2px solid #f47920;
}

.plus-tb {
    margin-left: 10%;
    border-right: 2px solid #f47920;
    border-top: 2px solid #f47920;
}

.plus-rb {
    margin-right: 10%;
    border-left: 2px solid #f47920;
    border-top: 2px solid #f47920;
}



@media (min-width: 1200px) {
    .category-node-size {
        height: 10vw;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .category-node-size {
        height: 13vw;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .category-node-size {
        height: 16vw;
    }
}
@media (max-width: 768px) {
    .category-node-size {
        height: 40vw;
    }
}





